{% extends "base.html" %} {% block title %}Atak Adwersarialny{% endblock %} {%
block content %}
<div class="content-box">
  <h2>Atak Adwersarialny</h2>
  <form method="post" enctype="multipart/form-data" class="upload-form">
    <p>Wybierz obraz do zaatakowania:</p>
    <input type="file" name="file" accept="image/*" class="file-input" />
    <input
      type="submit"
      value="Wygeneruj Przykład Adwersarialny"
      class="button primary"
    />
  </form>
  {% if message %}
  <p class="message">{{ message }}</p>
  {% endif %} {% if original_class_name %}
  <div class="image-section">
    <div>
      <h3>Oryginalna Predykcja: {{ original_class_name }}</h3>
      <img src="{{ original_image_path }}" width="200" class="classified-img" />
    </div>
    <div>
      <h3>Adwersarialna Predykcja: {{ adv_class_name }}</h3>
      <img
        src="{{ adversarial_image_path }}"
        width="200"
        class="classified-img"
      />
    </div>
  </div>
  {% endif %}
  <a class="button" href="{{ url_for('index') }}">Powrót</a>
</div>
{% endblock %}
