{% extends "base.html" %} {% block title %}Klasyfikacja Wideo{% endblock %} {%
block content %}
<div class="content-box">
  <h2>Klasyfikacja Wideo</h2>
  <form method="post" enctype="multipart/form-data" class="upload-form">
    <p>Wybierz plik wideo do analizy:</p>
    <input type="file" name="file" accept="video/*" class="file-input" />
    <input type="submit" value="Prześlij Wideo" class="button primary" />
  </form>
  {% if message %}
  <p class="message">{{ message }}</p>
  {% endif %}
  <p><a class="button" href="{{ url_for('video_feed') }}">Odtwórz Wideo</a></p>
  <div class="video-frame">
    <iframe src="{{ url_for('video_feed') }}" width="640" height="480"></iframe>
  </div>
  <a class="button" href="{{ url_for('index') }}">Powrót</a>
</div>
{% endblock %}
